.radio {
  display: flex;
  align-items: center;
  column-gap: 15px;

  &__input {
    &:not(:checked) + .radio__emulator::after {
      opacity: 0;
    }
  }

  &__emulator {
    @include flex-center;
    @include square(28px);

    position: relative;
    background-color: var(--color-white);
    border: var(--border);
    border-radius: 50%;

    &::after {
      @include square(60%);

      content: '';
      background-color: var(--color-accent);
      border-radius: inherit;
      transition-duration: var(--transition-duration);
    }
  }
}
